*{
    margin: 0;
    padding: 0;
}

.samurai{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    text-align: center;
    height: auto;
}

body{
    background-color: black;
    cursor: default;
}

.titulo{
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    text-align: center;
}

@font-face {
    font-family: heavitas;
    src: url(Heavitas.ttf);
}

.botaosamurai{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.linkgithub, .linkyoutube, .linktwitter{
    text-decoration: none;
}

.hierarquias{
    color: white;
}

.listaa{
    text-align: center;
    color: white;
}

.listaproj{
    color: white;
}

.botao{
    text-align: center;
    color: white;
    text-decoration: none;
}

.botao2{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.lainfoto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
    color: white;
    margin: 4em;
}

footer{
    position: fixed;
    width: 100%;
    padding: 10px;
}

.footer2{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

main{
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}